{{!-- app/templates/components/comment-card-229.hbs --}}
{{!-- Author: @chancancode. Taken from https://github.com/chancancode/hn-reader/blob/master/app/templates/components/comment-card.hbs --}}
<div class="metadata">
  <span class="submitter"><LinkTo @route="user" @model={{comment.submitter}}>{{comment.submitter}}</LinkTo></span> |
  <span class="submitted"><LinkTo @query={{hash highlight=comment.id}}>{{comment.submitted}}</LinkTo></span>
</div>

<div class="body" style=bodyStyle>{{comment.body}}</div>

{{#if comment.comments}}

  <div class="toggle-replies" {{action "toggleReplies"}}>
    <i class="icon-chevron-right"></i>

    {{#if isExpanded}}
      {{pluralize comment.comments.length "reply"}}
    {{else}}

      {{#if comment.nestedCommentsCount}}
        Show {{pluralize comment.comments.length "reply"}} and {{pluralize comment.nestedCommentsCount "nested comment"}}...
      {{else}}
        Show {{pluralize comment.comments.length "reply"}}...
      {{/if}}

    {{/if}}
  </div>

  <div class="replies">
    {{#each comment.comments as |reply|}}
      <CommentCard @comment={{reply}} @highlight={{highlight}} />
    {{/each}}
  </div>

{{/if}}
